html {
	width: 100%;
	height: 100%;
}

body {
	background-color: black;
	width: 100%;
	height: 100%;
	margin: 0;
}


.fixedHeader {
	background-color: rgb(19,27,108);
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	z-index: 100;
}

.fixedHeader h1{
	color: white;
	font-family: helvetica;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 20px;
}

#menu ul{
	list-style: none;
	color: white;
	text-align: right;
	margin-top: -35px;
	margin-right: 10px;
}

#menu li{
	display: inline;
	font-family: helvetica;
}

#beachImage {
	background-image: url(/assets/beach.jpg); 
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	}

.name {	
	text-align: center;
	color: orange;
	font-size: 25px;
	font-family: 'Rock Salt';
	padding-top: 70px;

}

.selfie {
	background-image: url(/assets/selfie.jpg);
	background-size: cover;
	background-color: #CCCDEB;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin: 0px auto;
	background-position-y: -22px;
}

#busycity {
	background-image: url(/assets/busycity.jpg);
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;


}

.about h1{
	text-align: left;
	color: white;
	font-size: 40px;
	font-family: helvetica;
	margin-top: 0px;
	padding-top: 60px;
}

#michigan {
	background-image: url(/assets/michigan.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -200px;
	width: 100%;
	height: 100%;
}

.education {
	text-align: left;
	color: white;
	font-size: 20px;
	font-family: helvetica;
	margin-top: -27px;
	padding-top: 33px;

}

#travels {
	background-image: url(/assets/cape_town.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.travel_text {
	text-align: left;
	color: white;
	font-size: 20px;
	font-family: helvetica;
	margin-top: -27px;
	padding-top: 33px;
}

#contact {
	background-image: url(/assets/contact_me.jpg);
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.contact_me {
	text-align: left;
	color: white;
	font-size: 20px;
	font-family: helvetica;
	margin-top: -27px;
	padding-top: 33px;

}

a:visited {
	color: white;
}

#menu a {
	text-decoration: none;
	color: white;
}

#menu a:hover {
	text-decoration: none;
	font-size: 18px;
	background-color: #79EBED;
}

.fixedHeader a {
		text-decoration: none;
		color: white;
}

.fixedHeader a:hover {
	text-decoration: none;
	font-size: 21px;
}
